# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore virtual environments
venv/

# Ignore environment variables
.env

# Ignore image uploads
*.jpg
*.jpeg
*.png

#Ignore images file inside assets
assets/*.jpg
assets/*.jpeg
assets/*.png

# MacOS
.DS_Store
